// gradients.scss

// Base gradient styles with transition for background position
.gradient-1,
.gradient-2,
.gradient-3,
.gradient-4 {
  background-size: 200% 200%; /* Doubling the size for smooth transition */
  transition: background-position 1s ease-in-out; /* Transition on background position */
}

// Individual gradient definitions
.gradient-1 {
  background: linear-gradient(to bottom, #005f73, #0a9396);
  background-position: 0% 50%;
}

.gradient-2 {
  background: linear-gradient(to bottom, #3a0ca3, #f72585);
  background-position: 100% 50%;
}

.gradient-3 {
  background: linear-gradient(to bottom, #ff7f11, #ff206e);
  background-position: 0% 50%;
}

.gradient-4 {
  background: linear-gradient(to bottom, #4361ee, #4cc9f0);
  background-position: 100% 50%;
}

