body {
    transition: background 1s ease-in-out;
  }
  
  .toggle-gradient-button {
    display: flex;
    align-items: center;
    background-color: #3498db; // Update as needed
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #2980b9; // Darker blue for hover
    }
  
    .icon {
      margin-right: 0.5rem;
    }
  }
  