/* Importing the Quicksand font with weights ranging from 300 to 700 */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* General Root Styling */
#root {

  margin: 0 auto;

  text-align: center;
  font-family: 'Quicksand', sans-serif; /* Applying Quicksand font to the entire application */
}


/* Example footer */


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}

/* Logo Styling */
.logo {
  height: 3.5rem; /* Adjust to fit within the navbar */
  padding: 0.5rem; /* Adjust padding if necessary */
  will-change: filter;
  transition: filter 300ms;
}

nav {
  height: 3rem; /* or h-12 (48px) */
  padding: 0.5rem 1rem; /* Adjust padding if needed */
  background-color: #1a1a1a; /* Example background color */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animation for Logo Spin */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Applying logo spin animation only when not in reduced motion mode */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styling for Documentation Links */
.read-the-docs {
  color: #888;
  font-weight: 300; /* Lighter weight for less emphasis */
}


/* Title Styling */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Bolder weight for titles */
  font-family: 'Quicksand', sans-serif; /* Ensuring titles use Quicksand font */
  margin: 0 0 1rem 0;
  color: #333; /* Dark color for titles */
}

/* Paragraph and general text styling */
p, li, span {
  font-weight: 400; /* Regular weight for body text */
  font-family: 'Quicksand', sans-serif; /* Ensuring body text uses Quicksand font */
  color: #555; /* Slightly lighter color for body text */
}


